.topicManager {
  display: inline-block;
  border: 2px solid var(--text-color);
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.topicManager .primary {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0px 8px 0px 6px;
  border-radius: 999px;
  border: 2px solid var(--text-color);
}
