.Frontmatter input[name="name"], .Frontmatter h1 {
  font-weight: 700;
  font-size: 52px;
}

.Frontmatter input[name="description"], .Frontmatter h2 {
  font-weight: 400;
  font-size: 16px;
}

.Frontmatter .emoji {
  font-size: 52px;
  margin-right: 10px;
}
